spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/<local_db>
    username: <local_user>
    password: <local_password>
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.spatial.dialect.postgis.PostgisPG10Dialect
    hibernate:
      ddl-auto: update
  servlet:
    multipart:
      max-file-size: 500MB
